/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

header nav {
	display: flex;
	position: relative;
	align-items: center;

}

header nav ul {
	position: absolute;
	transform: translateX(100vw);
}

header nav a > img {
	width: 50%;
}

header nav a {
	display: flex;
	justify-content: center;
}


main section:nth-of-type(1) img {
	width: 100%;
}
 
main section:first-of-type h1{
	display: flex;
	justify-content: center;
}